<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
<img src="" alt="este es el logo">
<form action="texarea"></form>
<p>Comprá en cuotas y sin tarjeta de crédito</p>
<nav>
        <ul>
            <li><a href="ofertas.html">Ofertas</a></li>
            <li><a href="tiendas_oficiales.html">Tiendas Oficiales</a></li>
            <li><a href="vender.html">vender</a></li>
            <li><a href="ayuda.html">Ayuda</a></li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li><a href="cuenta.html">Crea tu cuenta</a></li>
            <li><a href="ingreso.html">Ingresa </a></li>
            <li><a href="compras.html">Mis Compras</a></li>
        </ul>
</nav>
    </header>
    <main>
<section >
    <h2><u>Basado en tu ultima visita</u></h2>
    <article>
        <img src="" alt="imagen de la cafetera">
        <p>$6.770</p>
        <p>40% OFF</p>
        <h2>Cafetera Moulinex</h2>
    </article>
    <article>
        <img src="" alt="imagen de MackBook">
        <p>$230.000</p>
        <p>20% off</p>
        <h2>Macbook Pro 2019</h2>
    </article>
    <article>

        <img src="" alt="imagen del Samsung Galaxy">
        <p>$70.500</p>
        <p>10% OFF</p>
        <h2>Samsung Galaxy S10</h2>
    </article>
    <article>
        <img src="" alt="imagen del Smart Tv">
        <p>$23.200</p>
        <p>5% OFF</p>
        <h2>SmartTv Samsung 43"</h2>
    </article>
</section>
    </main>
    <footer>


    </footer>
</body>
</html>