<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> login Mercado lievre</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="/css/header.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6d7ddf6bb9.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="header-logo">
            <img class="logo" src="/img/logo-mercado-liebre.svg" alt="este es el logo">
            <form>
                <label for="text">buscar productos marcas y mas:</label>
                <input type="text" id="fname" name="fname"><br>
                <input type="submit" value="Buscar">
            </form>
        </div>
    <p class="sub__header"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    <nav>
        <ul>
            <li><a href="ofertas.html">Ofertas</a></li>
            <li><a href="tiendas_oficiales.html">Tiendas Oficiales</a></li>
            <li><a href="vender.html">vender</a></li>
            <li><a href="ayuda.html">Ayuda</a></li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li><a href="/registro">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <main>
<form class="log--style" action="/login" method="POST">
<input class="log--format" type="text" name="usuario" placeholder="Nombre de usuario">
<input class="log--format" type="password" name="contrsenia" placeholder="Elegi tu contrasenia">
<button class="log--buttom" type="submit">Enviar</button>

</form>





    </main>
    <footer class="main--footer">
        <ul>

           <li>  <i class=" icono fa-solid fa-credit-card"></i></li>
            <li> <h4>Paga con tarjeta o en efectivo <br>
                <p>Con mercado liebre Cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. y siempre
                    es segur0!!!!</p>
            </li>
        </ul>

        <ul>
            <li>
                <i class=" icono fa-solid fa-gift"></i> <h4>Envio gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenes envios gratis en miles de productos. Es un
                    beneficio de Mercado Puntos.</p>
            </li>
        </ul>
        <ul>
            <li>
                <i class=" icono fa-solid fa-shield-halved"></i></li><li> <h4>Seguridad de principio a fin</h4> 
                <p>No te gusta? Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre
                    protegid@.</p>
            </li>
        </ul>
        <ul>
            <li class="copy__right"> Copyright 1999-2020 MercadoLiebre S.R.L
            </li>
        </ul>


    </footer>
</body>
</html>